[submodule "vendor/sfml"]
	path = vendor/sfml
	url = https://github.com/oxi-dev0/sfml
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/oxi-dev0/spdlog
[submodule "vendor/nfd"]
	path = vendor/nfd
	url = https://github.com/oxi-dev0/nativefiledialog-extended
[submodule "vendor/clip"]
	path = vendor/clip
	url = https://github.com/oxi-dev0/clip.git